{% extends "layout.html" %}
{% block content %}
    <div class="fs-4">
    <p>This blog was created as a final project for Harvard's "Introduction to Computer Science" course (CS50).</p>
    <p>It uses python, flask and sqlalchemy.</p>
    <p>You can view the blog posts and create your own account so you can start posting, commenting and upvoting or downvoting.</p>
    <p>I would like to thank the CS50 team for everything they have taught me in this course and I look forward to developing my skills in the future.</p>
    <p>Have fun using the blog!</p>
    </div>
{% endblock content %}

